@{
    ViewData["Title"] = "Home Page";
}

<p></p>
<form method="post">
    <label>First Name</label>
    <input type="text" name="firstName" value="@ViewBag.firstName" />
    <br />

    <label>Last Name</label>
    <input type="text" name="lastName" value="@ViewBag.lastName" />
    <br />

    <button type="submit">Greet me!</button>

    <select name="langSelect">
        <option value="Hello">English</option>
        <option value="Hola">Spanish</option>
        <option value="Bonjour">French</option>
        <option value="Ciao">Italian</option>
        <option value="Guten Tag">German</option>
    </select>

    <label id=" messageOut">@ViewBag.messageOut</label>
</form>

